<h1>Nutrition plans</h1>

<% unless @nutrition_plans.blank? %>
  <% @nutrition_plans.each do |nutrition_plan| %>
    <div>
      <%= nutrition_plan.name %>
      <%= link_to 'Show', nutrition_plan %>
      <%= link_to 'Edit', edit_nutrition_plan_path(nutrition_plan) %>
      <%= link_to 'Destroy', nutrition_plan, method: :delete, data: { confirm:
        'Are you sure? '} %>
    </div>
  <% end %>
<% else %>
  <div>There are no nutrition plans</div>
<% end %>

<%= link_to 'New nutrition plan', new_nutrition_plan_path %>
<%= link_to 'Dishes', dishes_path %>
