<h1>Add dish to <%= @nutrition_plan.name %></h1>

  <%= simple_form_for(
    @nutrition_plan,
    url: add_dishes_nutrition_plan_path(@nutrition_plan),
    method: :post
  ) do |f| %>
    <%= f.association :dishes, as: :check_boxes %>
    <%= f.button :submit %>
  <% end %>

<%= link_to 'Back', nutrition_plans_path %>
