<h1><%= @nutrition_plan.name %></h1>

<div><%= notice %></div>

<div>
  <% if @nutrition_plan.dishes.blank? %>
    <div>No dishes yet</div>
  <% else %>
    <ul>
    <% @nutrition_plan.dishes.each do |dish| %>
      <li>
        <%= dish.name %>
        <%= link_to(
          'Remove',
          remove_dish_nutrition_plan_path(@nutrition_plan, dish: dish),
          method: :delete,
          data: { confirm: 'Are you sure? '}
        ) %>
      </li>
    <% end %>
    </ul>
    <div>
      <% total = @nutrition_plan.total_nutritional_value %>
      Total:
      <ul>
        <li>Calories: <%= total[:calories] %></li>
        <li>Protein: <%= total[:protein] %></li>
        <li>Carbohydrates: <%= total[:carbohydrates] %></li>
        <li>Fat: <%= total[:fat] %></li>
      </ul>
    </div>
  <% end %>
</div>

<%= link_to 'Add dish', show_dishes_nutrition_plan_path(@nutrition_plan) %>
<%= link_to 'Edit', edit_nutrition_plan_path(@nutrition_plan) %>
<%= link_to 'Back', nutrition_plans_path %>
