<%= simple_form_for(dish) do |f| %>
  <%= f.input :name %>
  <%= f.input :calories %>
  <%= f.input :protein %>
  <%= f.input :carbohydrates %>
  <%= f.input :fat %>

  <%= f.button :submit %>
<% end %>
