<h1>Dish list</h1>

<% unless @dishes.blank? %>
  <% @dishes.each do |dish| %>
    <div>
      <%= dish.name %>
      <%= link_to 'Show', dish %>
      <%= link_to 'Edit', edit_dish_path(dish) %>
      <%= link_to 'Destroy', dish, method: :delete, data: { confirm:
        'Are you sure? '} %>
    </div>
  <% end %>
<% else %>
  <div>There are no dishes</div>
<% end %>

<%= link_to 'New dish', new_dish_path %>
