<h1><%= @dish.name %></h1>

<div><%= notice %></div>

<div>
  <%= @dish.calories %>
  <%= @dish.protein %>
  <%= @dish.carbohydrates %>
  <%= @dish.fat %>
</div>

<%= link_to 'Edit', edit_dish_path(@dish) %>
<%= link_to 'Back', dishes_path %>
